@import './vars.css';
@import './markdown.css';
@import './color-mode.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;

  @apply font-sans text-default bg-base;
}

html.dark {
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  --at-apply: bg-gradient-to-r from-secondary to-primary;
  opacity: 0.75;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
