:root {
  --c-primary: #03bab1;
  --c-secondary: #0059D1;

  --c-bg-base: #f2f3f8;

  --c-text-base: #6B7280;
  --c-text-secondary: #4B5563;
  --c-text-highlight: #272727;

  --c-gradient-from: var(--c-primary);
  --c-gradient-to: var(--c-secondary);

  --c-border-base: #e5e7eb;

  --un-prose-links: var(--c-primary);
}

html.dark {
  --c-bg-base: #030712;

  --c-text-base: #767688;
  --c-text-highlight: #efefef;

  --c-border-base: #111827;
}
